@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  max-width: 600px;
  margin: 2rem;
}

h1,
h2,
h3 {
  font-family: "Jersey 10", monospace;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 120%;
}
